<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>aop-logging-example</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- pattern>%contextName: %d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern -->
            <pattern>{"contextName":"%contextName", "timestamp":"%d{HH:mm:ss.SSS}", "thread":"[%thread]", "level":"%level", "logger":"%logger", "msg":"%msg"}%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.mirkocaserta.example">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
</configuration>
